body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.products {
  display: flex; /* put items next to each other */
  flex-wrap: wrap; /* if no space new product will be pushed to new line */
  justify-content: center;
}

.site-container {
  min-height: 100vh;
}
main {
  flex: 1; /* used to occupy space between header and footer*/
}

/* changing btn color*/
.btn-primary {
  background-color: #f0c040;
  color: #000000;
}

.rating span {
  color: #ffc000; /* changing rating color to gold*/
}

.product {
  border: 1px #404040 solid;
  margin: 1rem; /* create space between items */
}

.product img {
  width: 100%;
  max-width: 250px;
}

.product-info {
  padding: 1rem;
}
